[submodule "developing-android-apps-with-kotlin/andfun-kotlin-android-trivia"]
	path = developing-android-apps-with-kotlin/andfun-kotlin-android-trivia
	url = https://github.com/udacity/andfun-kotlin-android-trivia.git
